<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd">

	<context:annotation-config />
	<context:component-scan base-package="com.octo.rest" />

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	
	<bean class="org.apache.cxf.jaxrs.provider.ProviderFactory" factory-method="getSharedInstance">
		<property name="userProviders">
			<bean class="org.codehaus.jackson.jaxrs.JacksonJsonProvider" />
		</property>
	</bean>
	
	<jaxrs:server id="someService" transportId="http://cxf.apache.org/transports/http" >
		<jaxrs:serviceBeans>
			<bean class="com.octo.rest.SomeService" />
		</jaxrs:serviceBeans>
	</jaxrs:server>
</beans>
